.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 50px;
}
.bg-footer {
    background-color: black !important;
    font-family: "Nunito Sans",sans-serif;
}
.bg-footer-text {
    color: white !important;    
}